policy_module(starshipsha, 1.100.1)

########################################
#
# Declarations
#

type starshipsha_t;
type starshipsha_exec_t;
init_daemon_domain(starshipsha_t, starshipsha_exec_t)

permissive starshipsha_t;

type starshipsha_initrc_exec_t;
init_script_file(starshipsha_initrc_exec_t)

type starshipsha_conf_t;
files_type(starshipsha_conf_t)

type starshipsha_var_lib_t;
files_type(starshipsha_var_lib_t)

type starshipsha_var_run_t;
files_type(starshipsha_var_run_t)

type starshipsha_port_t;
corenet_port(starshipsha_port_t)

########################################
#
# starshipsha local policy
#
allow starshipsha_t self:process { fork };

allow starshipsha_t self:fifo_file rw_fifo_file_perms;
allow starshipsha_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(starshipsha_t, starshipsha_conf_t, starshipsha_conf_t)
manage_files_pattern(starshipsha_t, starshipsha_conf_t, starshipsha_conf_t)

manage_dirs_pattern(starshipsha_t, starshipsha_var_lib_t, starshipsha_var_lib_t)
manage_files_pattern(starshipsha_t, starshipsha_var_lib_t, starshipsha_var_lib_t)
files_var_lib_filetrans(starshipsha_t, starshipsha_var_lib_t, { dir file })

manage_dirs_pattern(starshipsha_t, starshipsha_var_run_t, starshipsha_var_run_t)
manage_files_pattern(starshipsha_t, starshipsha_var_run_t, starshipsha_var_run_t)

sysnet_dns_name_resolve(starshipsha_t)
corenet_all_recvfrom_unlabeled(starshipsha_t)

allow starshipsha_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(starshipsha_t)
corenet_tcp_sendrecv_generic_node(starshipsha_t)
corenet_tcp_sendrecv_all_ports(starshipsha_t)
corenet_tcp_bind_generic_node(starshipsha_t)

gen_require(`
    type starshipsha_port_t;
')
allow starshipsha_t starshipsha_port_t:tcp_socket name_bind;

gen_require(`
    type starshipsha_port_t;
')
allow starshipsha_t starshipsha_port_t:tcp_socket name_connect;

domain_use_interactive_fds(starshipsha_t)

files_read_etc_files(starshipsha_t)

miscfiles_read_localization(starshipsha_t)

sysnet_dns_name_resolve(starshipsha_t)

allow starshipsha_t starshipsha_exec_t:file execute_no_trans;
allow starshipsha_t self:process setsched;
corecmd_exec_ls(starshipsha_t)
corenet_tcp_connect_http_port(starshipsha_t)
dev_read_urand(starshipsha_t)
fs_getattr_xattr_fs(starshipsha_t)
kernel_read_system_state(starshipsha_t)
